@model ITMO.ASP.NET.MVC.Stud_grades.Models.Person

@{
    ViewBag.Title = "Удаление записи";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Удаление записи</h2>

<h3>Вы действительно хотите удалить запись?</h3>
<div>
    <h4>Студент:</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Surname)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Surname)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Grade)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Grade)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Удалить" class="btn btn-default" /> |
            @Html.ActionLink("Назад к списку студентов", "Index")
        </div>
    }
</div>
